:root {
    --footer-height: 100px;
    --col-nav-width: 250px;
    --upgrade-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
  
img {
    max-width: 100%;
}

/* COMMON */
/* Utilities */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.subtitle {
    color: #7d7f84;
}

.col-nav a {
    color: #7d7f84;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100vh - var(--footer-height));
    display: flex;  
}

    /* left section */
    .col-nav {
        color: #a3a3a3;
        width: 250px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }

        .top-nav {
            height: 90%;
        }

        .bottom-nav {
            height: 10%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-bottom: 0.5rem;
        }

        .logo {
            padding-left: 1.3rem;
            padding-top: 1.3rem;
            
        }

            .logo-big {
                width: 70%;
            }

            .logo-small {
                display: none;
            }

        .nav-list {
            padding-top: 1rem;
            
        }

            .nav-list ul {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            }

            .nav-list a {
                display: flex;
                align-items: center;
                gap: 5px;
                border-left: 1px solid #adff2f;
                padding-left: 1.3rem;
            }

            .nav-list img {
                width: 13%;
                
            }

        .playlist {
            padding-top: 1.3rem;
            padding-left: 1.3rem;
        }

            .playlist h4 {
                color: white;
                margin-bottom: 0.7rem;
            }

            .playlist ul {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            }

            .playlist li {
                padding-bottom: 0.5rem;
            }

            .fa-plus {
                color: #080b12;
                border: 1px solid #7d7f84;
                padding: 0.4rem 0.5rem;
                background-color: #7d7f84;
            } 

        .profile {
            padding-left: 1.3rem;
            padding-right: 1.3rem;
        }

            .fa-circle-arrow-down {
                margin-right: 0.5rem;
                font-size: 0.7rem;
            }

            .profile hr {
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;
                border: 1px solid #7d7f84;
            }

            .profile a {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .profile img {
                width: 10%;
                border: 1px solid #7d7f84;
                border-radius: 50%;
                background-color: #7d7f84;
            }

    /* main section */
    .col-body {
        width: calc(100% - var(--col-nav-width));
        background-color: #141922;
        }

        .upgrade {
            background-color: #080b12;
            height: 100px;
            display: flex;
            justify-content: right;
        }

            .upgrade .container{
                display: flex;
                align-items: center;
                padding-right: 0.3rem;
            }

            .upgrade .bnt {
                color: white;
                padding: 0.8rem 2.4rem;
                border-radius: 30px;
                font-size: 0.8rem;

                /* debug */
                border: 1px solid white;
        }

        .content {
            overflow: auto;
            height: calc(100% - var(--upgrade-height));
        }
        
            .body-nav {
                color: #7d7f84;
                padding: 0.8rem;

                /* debug */
                border: 1px solid white;
                min-height: 70px;
            }

                .body-nav ul {
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                }

            .explorer {
                color: white;
                padding-left: 1rem
            }

                .rp,
                .cpj,
                .pop {
                    margin-bottom: 2.5rem;
                }

                    .rp h2 {
                        margin-bottom: 1.5rem;
                    }
                
                
/* FOOTER */
footer {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #282828;
}

    footer .container {
        display: flex;
    }

        .info-songs,
        .device-tools {
            width: 30%;

            /* debug */
            border: 1px solid white;
            min-height: 100px;
        }

        .playing-tools {
            width: 40%;

            /* debug */
            border: 1px solid white;
        }


/* ########### */
/* MEDIA QUERY */
/* ########### */

/* Desktop First */

/* 768px */
@media screen and (max-width: 768px) {
    .col-nav {
        padding-left: 0.8rem;
    }
}

/* 425px */
@media screen and (max-width: 425px) {
    .col-nav {
        width: 50px;
        padding: 0.2rem;
    }
    
    .top-nav img {
        width: 80%;
        margin: 0 auto;
    }

    .logo {
        padding-top: 0;
        padding-left: 0;
        min-height: 0px;
    }

    .logo-big {
        display: none;
    }

    .logo-small {
        display: block;
        margin: 0 auto;
        padding-top: 0;
    }

    .nav-list a {
        border-left: 0;
        padding-left: 0;
    }

    .nav-list span {
        display: none;
    }

    .playlist {
        display: none;
    }

    .profile {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .profile img {
        width: 60%;
        margin: 0 auto;
    }

    .profile a {
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: center;
    }

    .profile span, hr {
        display: none;

    }

    .upgrade .bnt {
        font-size: 0.65rem;
    }


    .col-body {
        width: calc(100% - 50px);
    }
    
    .body-nav ul {
        flex-wrap: wrap;
    }
}