:root {
    --footer-height: 100px;
    --col-nav-width: 250px;
    --upgrade-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Utilities */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.subtitle {
    color: #7d7f84;
    padding-top: 0.5rem;
}

.col-nav a {
    color: #7d7f84;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100vh - var(--footer-height));
    display: flex;
}

    /* left section */
    .col-nav {
        color: #a3a3a3;
        width: 250px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }

        .top-nav {
            height: 90%;
        }

        .bottom-nav {
            height: 10%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-bottom: 0.5rem;
        }

        /* logos */
        .logo {
            padding-left: 1.3rem;
            padding-top: 1.3rem;
        }

            .logo-big {
                width: 70%;
            }

            .logo-small {
                width: 30px;
                display: none;
            }

        /* head nav */
        .nav-list {
            padding-top: 1rem;
        }

            .nav-list ul {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            }

            .nav-list a {
                display: flex;
                align-items: center;
                gap: 5px;
                padding-left: 1.3rem;   
            }

            .nav-list img {
                width: 30px;
                opacity: 0.4;                
            }

            li:hover .home {
                border-left: 2px solid #adff2f;
                color: white;                
            }

            li:hover .search {
                border-left: 2px solid #adff2f;
                color: white;                
            }

            li:hover .library {
                border-left: 2px solid #adff2f;
                color: white;                
            }

            li:hover img {
                opacity: 2;
            }
        
        /* playlist area */
        .playlist {
            padding-top: 1.3rem;
            padding-left: 1.3rem;
        }

            .playlist h4 {
                color: white;
                margin-bottom: 0.7rem;
            }

            .playlist ul {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            }

            .playlist li {
                padding-bottom: 0.5rem;
            }

            .fa-plus {
                color: #080b12;
                border: 1px solid #7d7f84;
                padding: 0.4rem 0.5rem;
                background-color: white;
                opacity: 0.5;
            }

            li:hover .pl {
                color: white;                
            }

            li:hover i {
                opacity: 1;
            }
        
        /* profile area */
        .profile {
            padding-left: 1.3rem;
            padding-right: 1.3rem;
        }

            .fa-circle-arrow-down {
                margin-right: 0.5rem;
                font-size: 0.7rem;
            }

            .profile hr {
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;
                border: 1px solid #7d7f84;
            }

            .profile a {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .profile img {
                width: 30px;
                border: 1px solid #7d7f84;
                border-radius: 50%;
                background-color: #7d7f84;
            }

            .profile a:hover span {
                color: white;
            }

    /* MAIN AREA */
    .col-body {
        width: calc(100% - var(--col-nav-width));
        background-color: #141922;
        }

        .upgrade {
            background-color: #080b12;
            height: 100px;
            display: flex;
            justify-content: right;
        }

            .upgrade .container{
                display: flex;
                align-items: center;
                padding-right: 0.3rem;
            }

            .upgrade .bnt {
                color: white;
                padding: 0.8rem 2.4rem;
                border-radius: 30px;
                font-size: 0.8rem;
                border: 1px solid white;
                transform: scale(1);
            }

            .upgrade:hover .bnt {
                transform: scale(1.2);
            }

        .content {
            overflow: auto;
            height: calc(100% - var(--upgrade-height));
        }

            /* nav main */
            .body-nav {
                padding: 0.8rem;
                font-size: 0.7rem;
            }

                .body-nav ul {
                    display: flex;
                    justify-content: center;
                    gap: 1.5rem;
                    flex-wrap: wrap;
                    height: 1rem;
                }

                .body-nav li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2px;
                }


                .body-nav a {
                    color: #7d7f84;
                }

                .underline {
                    display: none;
                    border-top: 2px solid #adff2f;
                    width: 40%;
                }

                .body-nav li:hover a {
                    color:white;
                }

                .body-nav li:hover div {
                    display: inline;
                }

            /* exploration area */
            .explorer {
                color: white;
                padding:1.5rem 1rem 2rem;
            }

            .album {
                position: relative;
            }

            .overlay {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;                
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card .fa-circle-play {
                font-size: 4rem;
                z-index: -1;
                color: white;
            }

            .card img {
                width: 95%;
            }

                .rp,
                .cpj,
                .pop {
                    margin-bottom: 2.5rem;
                }

                    .rp h2 {
                        margin-bottom: 2rem;
                    }

                    .row {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .card {
                        width: calc(100% / 6);
                        text-align: center;
                    }

                    .card h3 {
                        padding-top: 1rem;
                    }

                    .pop .subtitle {
                        margin-bottom: 2rem;
                    }

                    .cpj .subtitle {
                        margin-bottom: 2rem;
                    }

                    .row .round {
                        border-radius: 50%;
                    }
                    
            .card:hover img {
                opacity: 0.3;
            }

            .card:hover .fa-circle-play {
                z-index: 1;
            }


/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #282828;
}

    footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

        .miniature,
        .device-tools {

            /* debug */
            border: 1px solid white;
        }

        /* miniature section */
        .miniature {
            width: 30%;
            padding-left: 0.5rem;
            color: #7d7f84;
            display: flex;
            justify-content: left;
            align-items: center;

            /* debug */
            border: 1px solid white;
        }

            .miniature figure {
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 0.5rem;
            }

                figure img {
                    width: 15%;
                }

                figure h5 {
                    color: white;
                }

                figure a {
                    color: #7d7f84;
                    font-size: 0.7rem;
                }

        /* playing tools section */
        .playing-tools {
            width: 40%;
            padding-top: 0.5rem;
            display: flex;
            flex-direction: column;


            /* debug */
            border: 1px solid white;
        }

        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            height: 50%;
        }

            .controls i {
                color: white;
            }

            .controls .fa-circle-play {
                font-size: 1.5rem;
            }

        .playing-time {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            height: 40%;
            font-size: 0.6rem;
        }

        .playing-time .playing-bar {
            width: 80%;
            margin: 1rem;
        }

            .playing-bar {
                height: 2px;
                border: 2px solid white;
                border-radius: 20px;
            }
        
        /* device tools section */
        .device-tools {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            font-size: 0.7rem;
            color: white;
            padding: 0.7rem;
        }

            .device-tools .playing-bar {
                width: 100px;
            }


/* ########### */
/* MEDIA QUERY */
/* ########### */

/* Desktop First */

/* 1024 */
@media screen and (max-width: 1024px) {
    /* exploration area */
    .card {
        width: calc(100% / 4);
    }
}

/* 768px */
@media screen and (max-width: 768px) {
    /* left area */
    .col-nav {
        padding-left: 0.8rem;
    }

    /* exploration area */
    .row {
        row-gap: 1rem;
    }

    .card {
        width: calc(100% / 2);
    }

    .card img {
        width: 80%;
    }

    /* FOOTER */
    
}

/* 425px */
@media screen and (max-width: 425px) {
    /* left area */
    .col-nav {
        width: 50px;
        padding: 0.2rem;
    }

    .top-nav img {
        margin: 0 auto;
    }

    /* logo */
    .logo {
        padding-top: 0;
        padding-left: 0;
        min-height: 0px;
    }

    .logo-big {
        display: none;
    }

    .logo-small {
        display: block;
        padding-top: 0;
    }

    /* head nav */
    .nav-list a {
        border-left: 0;
        padding-left: 0;
    }

    .nav-list span {
        display: none;
    }

    /* playlist */
    .playlist {
        display: none;
    }

    
    /* nav profile */
    .profile {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .profile img {
        margin: 0 auto;
    }

    .profile a {
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: center;
    }

    .profile span, hr {
        display: none;
    }

    /* upgrade area */
    .upgrade .bnt {
        font-size: 0.65rem;
    }

    /* nav main */
    .col-body {
        width: calc(100% - 50px);
    }

    .body-nav ul {
        flex-wrap: wrap;
    }

    /* exploration area */
    .explorer {
        padding-top: 3rem;
    }

    .card img {

    }

    /* FOOTER */
    
}